<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhc.employee_management.mapper.DepartmentMapper">

    <resultMap id="BaseResultMap" type="com.jhc.employee_management.entity.Department">
            <id property="id" column="id" />
            <result property="branchId" column="branch_id" />
            <result property="name" column="name" />
            <result property="createdAt" column="created_at" />
            <result property="updatedAt" column="updated_at" />
            <result property="add1" column="add1" />
            <result property="add2" column="add2" />
            <result property="add3" column="add3" />
    </resultMap>
    
    <resultMap id="selectResultMap" type="com.jhc.employee_management.entity.Department">
            <result property="branchId" column="branch_id" />
            <result property="name" column="name" />
    </resultMap>

    
    <select id="selectAllData" resultMap="selectResultMap">
        SELECT
          branch_id, 
          name
        FROM department
          order by branchId
    </select>
    
    <sql id="Base_Column_List">
        id,branch_id,name,created_at,updated_at,add1,
        add2,add3
    </sql>
</mapper>
