<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhc.employee_management.mapper.EmployeeMapper">

    <resultMap id="BaseResultMap" type="com.jhc.employee_management.entity.Employee">
        <id column="id" property="id" />
        <result column="department_id" property="departmentId" />
        <result column="name" property="name" />
        <result column="employee_level" property="employeeLevel" />
        <result column="email" property="email" />
        <result column="phone_no" property="phoneNo" />
        <result column="hire_date" property="hireDate" />
        <result column="position" property="position" />
        <result column="employment_type" property="employmentType" />
        <result column="manager_name" property="managerName" />
        <result column="emergency_contact" property="emergencyContact" />
        <result column="emergency_tel" property="emergencyTel" />
        <result column="slack_id" property="slackId" />
        <result column="teams_id" property="teamsId" />
        <result column="photo_path" property="photoPath" />
        <result column="self_pr" property="selfPr" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
        <result column="add1" property="add1" />
        <result column="add2" property="add2" />
        <result column="add3" property="add3" />
    </resultMap>

    <sql id="Base_Column_List">
        id, department_id, name, employee_level, email, phone_no,
        hire_date, position, employment_type, manager_name,
        emergency_contact, emergency_tel, slack_id, teams_id,
        photo_path, self_pr, created_at, updated_at, add1, add2, add3
    </sql>

    <select id="selectById" parameterType="com.jhc.employee_management.entity.Employee" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM employee
        WHERE id = #{id}
    </select>
    
    <insert id="insert" parameterType="com.jhc.employee_management.entity.Employee" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO employee (
            department_id, name, employee_level, email, phone_no, hire_date, position,
            employment_type, manager_name, emergency_contact, emergency_tel,
            slack_id, teams_id, photo_path, self_pr, created_at, updated_at, add1, add2, add3
        ) VALUES (
            #{departmentId}, #{name}, #{employeeLevel}, #{email}, #{phoneNo}, #{hireDate}, #{position},
            #{employmentType}, #{managerName}, #{emergencyContact}, #{emergencyTel},
            #{slackId}, #{teamsId}, #{photoPath}, #{selfPr}, #{createdAt}, #{updatedAt}, #{add1}, #{add2}, #{add3}
        )
    </insert>

    <update id="updateById" parameterType="com.jhc.employee_management.entity.Employee">
        UPDATE employee
        <set>
            <if test="departmentId != null">department_id = #{departmentId},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="employeeLevel != null and employeeLevel != ''">employee_level = #{employeeLevel},</if>
            <if test="email != null and email != ''">email = #{email},</if>
            <if test="phoneNo != null and phoneNo != ''">phone_no = #{phoneNo},</if>
            <if test="hireDate != null">hire_date = #{hireDate},</if>
            <if test="position != null and position != ''">position = #{position},</if>
            <if test="employmentType != null and employmentType != ''">employment_type = #{employmentType},</if>
            <if test="managerName != null and managerName != ''">manager_name = #{managerName},</if>
            <if test="emergencyContact != null and emergencyContact != ''">emergency_contact = #{emergencyContact},</if>
            <if test="emergencyTel != null and emergencyTel != ''">emergency_tel = #{emergencyTel},</if>
            <if test="slackId != null and slackId != ''">slack_id = #{slackId},</if>
            <if test="teamsId != null and teamsId != ''">teams_id = #{teamsId},</if>
            <if test="photoPath != null and photoPath != ''">photo_path = #{photoPath},</if>
            <if test="selfPr != null and selfPr != ''">self_pr = #{selfPr},</if>
            <if test="updatedAt != null">updated_at = #{updatedAt},</if>
            <if test="add1 != null and add1 != ''">add1 = #{add1},</if>
            <if test="add2 != null and add2 != ''">add2 = #{add2},</if>
            <if test="add3 != null and add3 != ''">add3 = #{add3},</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteById" parameterType="com.jhc.employee_management.entity.Employee">
        DELETE FROM employee
        WHERE id = #{id}
    </delete>
</mapper>
