<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhc.employee_management.mapper.EmployeeMapper">

    <resultMap id="BaseResultMap" type="com.jhc.employee_management.entity.Employee">
        <id column="id" property="id" />
        <result column="department_id" property="departmentId" />
        <result column="name" property="name" />
        <result column="employee_level" property="employeeLevel" />
        <result column="email" property="email" />
        <result column="phone_no" property="phoneNo" />
        <result column="hire_date" property="hireDate" />
        <result column="position" property="position" />
        <result column="employment_type" property="employmentType" />
        <result column="manager_name" property="managerName" />
        <result column="emergency_contact" property="emergencyContact" />
        <result column="emergency_tel" property="emergencyTel" />
        <result column="slack_id" property="slackId" />
        <result column="teams_id" property="teamsId" />
        <result column="photo_path" property="photoPath" />
        <result column="self_pr" property="selfPr" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
        <result column="add1" property="add1" />
        <result column="add2" property="add2" />
        <result column="add3" property="add3" />
    </resultMap>

    <sql id="Base_Column_List">
        id, department_id, name, employee_level, email, phone_no,
        hire_date, position, employment_type, manager_name,
        emergency_contact, emergency_tel, slack_id, teams_id,
        photo_path, self_pr, created_at, updated_at, add1, add2, add3
    </sql>

</mapper>
